#mainContent.home{
    display: flex;
    padding: space(3);
    justify-content: center;
    align-items: center;
    height: 90vh;
    .mainTitle{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h1{
            font-size: 7em;
            line-height: 80px;
        }
        h2{
            font: {
                style: italic;
                size: map-get($heading-font-sizes , 3 );
            }          
        }
        a{
            @include padding("top", 2em);
        }
    }
}