#mainContent.projects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40vh 40vh;
    grid-auto-flow: column;
    padding-top: $headerHeight;
    .item-a a::before  {
        background: url('../img/annabelle.jpg');
    }
    .item-b{
        grid-column: 2;
        grid-row: 1 / 2;
        a:before{
            background: url('../img/decathlon.png');
        }
    }
    .item-c{
        grid-column: 1;
        grid-row: 2 / 3;
        a:before{
            background: url('../img/eventoxtra-header.jpg');
        }
    }
    .item-d a:before{
        background: url('../img/flako.jpg');
    }
    .soloProjects{
        @include padding("all");
        display: flex;
        justify-content: center;
        align-items: center;       
        position: relative;
    }
    .soloProjects a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        z-index: -100;
    }
    // responsive
    @include media-breakpoint-up("lg"){
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100vh;
        padding-top: 0;
        .item-b{
            grid-column: 2;
        }
        .item-c{
            grid-column: 3;
            grid-row: 1;
        }
        .item-d{
            grid-column: 4;
        }
        .soloProjects a:before{
            opacity: 0;
            @include mytrans(.3s);
        }
        .soloProjects a:hover:before{
            opacity: 1;
        }
    }
}
@include media-breakpoint-up("lg"){
    .footerProject, .headerProject{
       background: transparent;
   }
   .footerProject{
    position: absolute;
    bottom: 0;
    width: 100%;
   }
}